@charset "utf-8";
/* CSS Document */

.team-meamber-single {
    padding: 0;
    margin: 0
    }

.team-meamber-single .team-position {
  font-style: italic;
  padding: 10px;
}
.team-meamber-single .team-content {
  padding: 0 10px;
}
.team-meamber-single .team-social {

    }


.team-meamber-single .team-skill {
  padding: 10px;
}

.team-meamber-single .team-skill .skill {
  color: rgb(51, 51, 51);
  font-size: 11px;
  margin: 6px 0;
}

.team-meamber-single .team-skill .bars {
  background: rgb(57, 159, 231) none repeat scroll 0 0;
  height: 8px;
}